body {
  font-family: sans-serif;
  height: 1500px;
  background-color: #7ed6df;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

h1 {
  margin-top: 150px;
  padding: 50px;
  color: white;
  font-size: 80px;
}

header {
  position: fixed;
  background-color: #ff7979;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
}

nav {
  position: fixed;
  margin-top: 150px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffcc00;
  width: 450px;
  height: 773px;
  border: 7px solid #979797;
}

.green-box {
  position: fixed;
  top: 100px;
  right: 350px;
  width: 200px;
  height: 100px;
  background-color: #badc58;
  z-index: 1;
}
